﻿@model App.Models.FeedReaderViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Latest News</h2>
        <p class="updated">Last Updated: @Model.LastUpdated.ToString()</p>
                
        <ul id="latest-news">
            @if (Model.LatestNews != null && Model.LatestNews.Count() > 0)
            {
                for (int i = 0; i < Model.LatestNews.Count(); i++)
                {
                    <li>
                        <a href="@Model.LatestNews[i].Id">@Model.LatestNews[i].Title</a>
                        <span style="display:block;">@Model.LatestNews[i].PublishDate</span>
                    </li>
                }
            }
            else
            {
                <li>Sorry, no latest news</li>
            }
        </ul>
    </div>


    <div class="col-md-12">
        <h2>Give Me Sport News Feed</h2>
        <p class="updated">Last Updated: @Model.LastUpdated.ToString()</p>
        <ul id="newsfeed">
            @if (Model.FeedItems != null && Model.FeedItems.Count() > 0)
            {
                for (int i = 0; i < Model.FeedItems.Count(); i++)
                {
                    <li>
                        <a href="@Model.FeedItems[i].Id">@Model.FeedItems[i].Title</a>
                        <span style="display:block;">@Model.FeedItems[i].PublishDate</span>
                    </li>
                }
            }
            else
            {
                <li>Sorry, No Items in Feed</li>
            }
        </ul>
    </div>
</div>